apiVersion: v1
kind: Secret
metadata:
  name: {{ kubernetes_grafana_secret }}
  namespace: {{ kubernetes_grafana_namespace }}
type: Opaque
data:
  grafana_config: |
  "{{ kubernetes_grafana_database_url | b64encode }}"
